*{
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f552;
    margin: 0;
    padding: 0;
  }
  
  .container {
    flex: block;
    max-width: 650px;
    margin:40px auto ;
    padding: 20px;
    background-color: #ffffff73;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  h1 {
    text-align: center;
  }
  
  #notes {
  padding: 10px;
  margin-bottom: 10px;
  }
  
  .note {
    border: 10px solid #cccccc70;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
body{
 background: rgb(1,83,121);
background: linear-gradient(90deg, rgba(1,83,121,1) 37%, rgba(16,37,41,1) 68%); }
.note-content{
    background-color: #007bff;
}

#note-content{
background-color: #ffffffb6;

}